#spad-date {
    text-align: center;
    font-size: x-large;
    margin-top: 1em;
}

#spad-title {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    margin-bottom: .5em;
}

#spad-page {
    text-align: center;
    margin-bottom: 1em;
}

#spad-quote {
    text-align: left;
    font-style: italic;
    font-size: large;
    margin-bottom: 1em;
}

#spad-quote-source {
    text-align: right;
    margin-bottom: 1em;
}

#spad-thought {
    margin-left:10%;
    margin-right: 10%;
    margin-bottom: 2em;
    padding-top: 1em;
    border-top: 2px solid black;
}

#spad-copyright {
    font-style: italic;
    text-align: center;
    font-size: small;
    margin-bottom: 1em;
}

#spad-container {
    width: 770px;
    margin:0 auto;
    font-size: medium;
    font-family: 'times new roman', serif;
}
